.Button {
    background-color: #E4158;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 2px 7px;
    font-size: 15px;
    font-weight: 350;
    text-align: center;
}
