p.heading {
    color: #2E4158;
    font-weight: 300;
    text-align: center;
    font-size: 40px;
}
p.summary {
    text-align: center;
    color: #2E4158;
    font-size: 20px;
    margin-bottom: 3%;
}

p.company-description {
    color: #2E4158;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40em;
    font-size: 17px;
    margin-top: 0px;
    font-weight: 400;
}

.intro {
    margin-top: 3%;
    color: #2E4158;
    text-align: center;
    font-weight: lighter;
}

body {
	margin: 0;
	padding: 0;
    /* background-color: #2E4158 !important; */
    background-color: 	#f9f9f9 !important;
}

button {
	background: #4d9dc9;
	color: #3b3b3b;
	padding: 0.6rem 1rem;
	font-size: 0.8rem;
	border: solid 1px #c7c7c7;
	margin: 1rem 0;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
    outline: none;
}
button:hover {
	background: #01579b;
	color: #ffffff;
}

.carousel {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0px;
    width: 40em;
}

.download {
    text-align: center;
}

img {
    width: 8%;
    height: auto;
}
