h2.newsletterTitle {
    color: #01579b;
    font-weight: 300;
    margin-bottom: 80px;
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
}

.postBox {
    width: 60rem;
    color: whitesmoke;
    background-color: #293A4E;
    margin-bottom: 50px;

}