header {
	background: #F8F8FF;
	margin-bottom: 2rem;
	font-size: 2rem;
    color: #2E4158;
	text-align: left;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
	padding: 10px;
	width: 5%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  }